# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data (all datasets)
data/

# Trained models
models/*.pkl

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code (optional)
.vscode/